spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?allowMultiQueries=true
#    这是因为配置mysql的时候没有开启批量插入，不开启的话只能允许操作一条sql语句，
#    配置文件中的数据库连接信息URL后面添加上&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    max-idle: 10
    max-wait: 10000
    min-idle: 5
    initial-size: 5

server:
  port: 8081

###############################################################
mybatis:
  mapperLocations: classpath:mapper/*.xml
###############################################################
#打印sql语句
logging:
  level:
    com.zhao.dubboprovider.mapper: DEBUG
###############################################################